@main("Trans*H4CK - OrgName") {
	<form role="form">
	  <div class="form-group">
	    <label for="eventName">Event Title</label>
	    <input type="text" class="form-control" id="eventName" placeholder="Event Title">
	  </div>
	  <div class="form-group">
	    <label for="eventLocation">Event Location</label>
	    <input type="text" class="form-control" id="eventLocation" placeholder="Event Location">
	  </div>
	  <div class="form-group">
	    <label for="eventDate">Event Date</label>
	    <input type="text" class="form-control" id="eventDate" placeholder="Event Date">
	  </div>
	  <textarea class="form-control" rows="3" placeholder="Summary"></textarea>
	  <select class="form-control">
		  for(org <- orgs) {
			  <option>@org.getName()</option>
			  }
	  </select>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	
}