@(institutions: List[models.Institution])
@main("Trans*H4CK - Institutions") {
	<h1> Here are the institutions that are already using our app!</h1>
	<ul class="list-unstyled">
	@for(institution <- institutions) {
	  <li><h2><a href='@routes.InstitutionsController.institutionInfo(institution.getId())'>@institution.getName()</a></h2> Number of Organizations
		  <br/>
	  @institution.getLocation() 
	  <br/>
	  <a href="http://@institution.getUrl()">@institution.getUrl()</a>
	  
	  <br/>
	  
	  <br/>
	  </li>
	} 
	</ul>
}
